@charset "utf-8";

$clr-facebook: #3b5998;
$clr-facebook-shadow: #404c66;

$clr-twitter: #55acee;
$clr-twitter-shadow: #5698cb;

$clr-line: #00c300;
$clr-line-shadow: #40ab40;

$clr-qiita: #59bb0c;
$clr-qiita-shadow: #4ea30a;

$clr-github: #333;
$clr-github-shadow: #666;
