@charset "utf-8";

body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $clr-grey-700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
