    {{ with .Params.image }}
    <div class="li-image" style="background-image: url({{ . }});"></div>
    {{ end }}
    <div class="li-detail">
      <h2 class="li-title">{{ .Title }}</h2>
      <p class="li-info">
        <time class="li-info__time">
          {{ with .Site.Params.DateForm }}
          {{ $.Date.Format . }}
          {{ else }}
          {{ $.Date.Format "2006.1.2" }}
          {{ end }}
        </time>
        {{ with .Params.categories }}
        {{ range first 1 . }}
        <span>{{ . }}</span>
        {{ end }}
        {{ end }}
        <span class="li-info__count">
          {{ if .Params.link.comments }}
          <i class="material-icons md-12">sms</i>{{ len .Params.link.comments }}
          {{ end }}
        </span>
      </p>
    </div>
