{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="paging">
  <div class="paging__inner">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}" rel="prev">
      <i class="material-icons md-36">keyboard_arrow_left</i>
    </a>
    {{ else }}
    <span></span>
    {{ end }}
    <p class="paging-nav">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</p>
    {{ if .Paginator.HasNext }}
    <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}" rel="next">
      <i class="material-icons md-36">keyboard_arrow_right</i>
    </a>
    {{ else }}
    <span></span>
    {{ end }}
  </div>
</nav>
{{ end }}
