{{ define "main" }}
<div class="index">
  <div class="index-profile">
    <div class="index-profile__detail">
      <h2>Yuzuru Ozawa</h2>
      <h3>Web Developer</h3>
    </div>
    <div class="index-profile__me">
      <div>
        <img src="{{ .Site.BaseURL }}/img/profile_github.jpg" width="55" height="55" >
      </div>
    </div>
    <div class="index-profile__sns">
      <ul>
        <li>
          <a href="https://github.com/yuzroz" target="_blank">
            <i class="icon icon-github"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/yuzroz" target="_blank">
            <i class="icon icon-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/yuzuru.ozawa" target="_blank">
            <i class="icon icon-facebook"></i>
          </a>
        </li>
        <li>
          <a href="http://qiita.com/yuzroz" target="_blank">
            <i class="icon icon-qiita"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="index-main">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ullam earum dolorum! Sed, perspiciatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr>
  </div>
  <footer class="index-footer">
    <p>© Copyright 2016 yuzroz</p>
  </footer>
</div>
{{ end }}
